@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .stripes {
    --stripe-color: rgba(255, 255, 255, 0.15);
    --empty-color: rgba(255, 255, 255, 0.05);
    --stripe-size: 5%;
    border: 1px solid rgba(135, 135, 135);
    background: linear-gradient(
      135deg,
      var(--stripe-color) 0%,
      var(--stripe-color) var(--stripe-size),
      var(--empty-color) var(--stripe-size),
      var(--empty-color) 50%,
      var(--stripe-color) 50%,
      var(--stripe-color) calc(50% + var(--stripe-size)),
      var(--empty-color) calc(50% + var(--stripe-size)),
      var(--empty-color) 100%
    );
    background-size: 8px 8px;
  }
}
